[core]
	filemode = false
	autocrlf = true
  
[http]
	proxy = http://127.0.0.1:7890
[https]
	proxy = http://127.0.0.1:7890

[credential]
	helper = wincred
	
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	
[user]
	# name = fluentgcc
	# email = 1217019920@qq.com
